@import '../../styles/theme';
.animation-creator {
  width: 572px;
  margin-top: 18px;
  height: 168px;
  background-color: $blue;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.animation-creator-button{
  display: flex;
}