@import '../../styles/theme';

.layout-preview {
  width: 960px;
  height: 485px;
  background-color: $light-grey;
  overflow: hidden;
  position: relative;
}
.item-preview {
  &:hover {
    cursor: pointer;
  }
}
.item-selected {
  border: 3px dashed $dark-aqua;
}
