@import '../../styles/theme';
.component-state-picker {
  width: 370px;
  height: 459px;
  background-color: $blue;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
