@import '../../styles/theme';
@import '../../styles/helpers';
.hierarchy-components-wrapper {
  width: 430px;
  height: 400px;
  background-color: $blue;
  padding: 5px;
  overflow-y: auto;
}
.hierarchy-item,
.hierarchy-empty {
  width: 100%;
  margin-top: 10px;
  height: 10%;
  color: $white;
  @include center();
  transition: background-color 0.1s ease-in-out;
}
.hierarchy-item {
  background-color: $green;
  &:hover {
    cursor: pointer;
    background-color: lighten($color: $green, $amount: 10%);
  }
}
