@import '../../styles/theme';
@import '../../styles/helpers';

.property-panel {
  width: 499px;
  height: 783px;
  background-color: $blue;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: flex-end;
  padding: 10px;
}
.editors {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.properties-wrapper {
  @include center();
  flex-direction: column;
  width: 100%;
  background-color: $blue;
}
.properties {
  display: flex;
}
.buttons-properties {
  margin-top: 0;
  width: 100%;
  align-items: baseline;
  display: flex;
}
.text-editor {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  background-color: lighten($color: $blue, $amount: 15%);
}
.rdw-editor-main {
  border: 1px solid $white;
  height: 100px !important;
}

.properties-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  overflow-y: auto;
  height: 100%;
}
.color-picker {
  margin: 10px;
  display: flex;
}
.selected-color-wrapper {
  @include center();

  p {
    color: $white;
  }
}
#editable-text {
  width: 50px;
  height: 50px;
  background-color: $aqua;
  margin: 0;
}
.editable-text-wrapper {
  display: flex;
  align-items: center;
  margin: 10px;
}
.actual-selected-color {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  &:hover {
    cursor: pointer;
  }
}
.loader {
  width: 100%;
  height: 100%;
  flex-direction: column;
  color: $white;
  @include center();
}
.editable-text-label {
  margin-left: 10px;
  color: $white;
}
.public-DraftStyleDefault-block {
  margin: 0 !important;
}
