@import './theme';
@import './helpers';

html,
body {
    background-color: $dark-blue;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}
.app {
    display: flex;
    flex-direction: row-reverse;
}
.right-wrapper {
    display: flex;
    flex-direction: row-reverse;

    &:first-child {
        margin-top: 0px;
    }
}
.left-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 9px;
}
.animation-tools {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 26px;
    & > * {
        margin-right: 17px;
        &:first-child {
            margin-right: 0px;
        }
    }
}
.preview-wrapper {
    width: 960px;
    height: 485px;
    background-color: $light-grey;
    overflow: hidden;
    position: relative;
}
.toolbar-hierarchy {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.tools-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 9px;
    & > * {
        &:first-child {
            margin-top: 0px;
        }
        margin-top: 17px;
    }
}
p {
    margin: 0 !important;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: $white;
    border-radius: 10px;
    transition: all 1s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: darken($color: $white, $amount: 5%);
}

.loader {
    width: 100%;
    height: 100%;
    flex-direction: column;
    color: $white;
    @include center();
}
