$light-aqua: #44d28e;
$aqua: #5abc99;
$dark-aqua: #2aa96c;
$dark-blue: #111526;
$blue: #222842;
$light-blue: #3363aa;
$light-grey: #999999;
$white: #ffffff;
$green: #46d254;
$red: #e15656;
$magenta: #dd1cdd;
