@import '../../styles/theme';
@import '../../styles/helpers';

.toolbar-wrapper {
  width: 430px;
  height: 568px;
  background-color: $blue;
  padding: 5px;
}
.selected-tool {
  width: 100%;
  height: 50px;
  background-color: $dark-blue;
  margin-bottom: 10px;
  color: $white;
  @include center();
}
