@import '../../styles/theme';

.animation-sequence {
  width: 572px;
  height: 272px;
  background-color: $blue;
  overflow-y: auto;
  overflow-x: hidden;
}
.animation-sequence-list {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.animation-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
