@import '../../../styles/theme';
@import '../../../styles/helpers';

$btn-colors: (
  'light-blue': $light-blue,
  'green': $green,
  'aqua': $aqua,
  'light-aqua': $light-aqua,
  'red': $red,
);

@each $name, $color in $btn-colors {
  .#{$name} {
    background-color: #{$color};
  }
}
.button {
  transition: filter 0.1s ease-in-out;
  border: none;

  @include center();
  &:focus {
    outline-style: solid;
    outline-width: 1px;
    outline-color: lighten($color: $blue, $amount: 50%);
  }
  &:hover {
    cursor: pointer;
    filter: brightness(115%);
  }
}

.space-btn {
  margin-bottom: 10px;
}

.lg-btn {
  width: 100%;
  height: 100px;
}
.sm-btn {
  width: 100%;
  height: 70px;
}
.square-btn {
  width: 55px;
  height: 55px;
}
