@import '../../../styles/theme';
@import '../../../styles/helpers';

#textbox-field {
  border: 1px solid $white;
  background-color: transparent;
  width: 100%;
  height: 53px;
  color: $white;
  text-align: center;
  &:disabled {
    color: darken($color: $white, $amount: 15%);
    font-style: italic;
  }
}
.textbox-label {
  color: $white;
  border-left: 5px solid $aqua;
  border-right: 5px solid $aqua;
  background-color: $dark-aqua;
  width: 100%;
  height: 20px;
  @include center();
  margin-top: 10px;
}

.textbox-wrapper {
  @include center();
  flex-direction: column;
  margin: 10px;
}
